div#icon-cloudvps-objects.icon32 {
	background-image: url(../images/cloudobjects32.png);
}

@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
	div#icon-cloudvps-objects.icon32 {
		background-image: url(../images/cloudobjects64.png);
		background-size: 32px 32px;
	}
}